/* Import Styles for Different Components Here */
@import "header_styles.css";

/* Overall Global styles */
:root {
    --primary-color: #1a4137;
    --secondary-color: #c6d936;
    --font-family: 'Lato', sans-serif;
}

body, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}
