<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/header_styles.css" />
    <title>Consultez - Business Consulting</title>
  </head>
  <body>
    <header class="main-header">
      <div class="top-menu">
        <div class="top-left-menu">
          <ul class="info-list">
            <li>
              <i class="fa-solid fa-envelope"></i>
              <span>needhelp@company.com</span>
            </li>
            <li>
              <i class="fa-solid fa-location-dot"></i>
              <span>6391 Elgin St. Celina, Delaware 10299</span>
            </li>
          </ul>
        </div>
        <div class="top-right-menu">
          <ul class="nav-links">
            <li><a href="#">About</a></li>
            <li><a href="#">Faqs</a></li>
            <li><a href="#">Contact</a></li>
          </ul>

          <!--- <ul class="social-links">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>-->
        </div>
      </div>
    </header>
  </body>
</html>
