<header class="main-header">
  <div class="top-menu">
    <div class="top-left-menu">
      <ul class="info-list">
        <li>
          <i class="fa-solid fa-envelope"></i>
          <span>needhelp@company.com</span>
        </li>
        <li>
          <i class="fa-solid fa-location-dot"></i>
          <span>6391 Elgin St. Celina, Delaware 10299</span>
        </li>
      </ul>
    </div>
    <div class="top-right-menu">
      <ul class="nav-links">
        <li><a href="#">About</a></li>
        <li><a href="#">Faqs</a></li>
        <li><a href="#">Contact</a></li>
      </ul>

      <ul class="social-links">
        <li><i class="fa-brands fa-facebook-f"></i></li>
        <li><i class="fa-brands fa-instagram"></i></li>
        <li><i class="fa-brands fa-x-twitter"></i></li>
        <li><i class="fa-brands fa-linkedin-in"></i></li>
      </ul>
    </div>
  </div>
  <div class="main-menu">
    <div class="logo">
      <img src="../assets/img/logo.png" alt="logo" />
    </div>

    <div class="main-links">
      <nav class="main-nav-links">
        <ul>
          <li><a href="#">Home</a><i class="fa-solid fa-angle-down"></i></li>
          <li><a href="#">Pages</a><i class="fa-solid fa-angle-down"></i></li>
          <li>
            <a href="#">Services</a><i class="fa-solid fa-angle-down"></i>
          </li>
          <li>
            <a href="#">Portfolio</a><i class="fa-solid fa-angle-down"></i>
          </li>
          <li><a href="#">News</a><i class="fa-solid fa-angle-down"></i></li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </nav>
    </div>

    <div>
      <a href="#" class="main-nav-btn">Contact Now</a>
    </div>
    <div class="hamburger-menu">
      <i class="fa-solid fa-bars"></i>
    </div>
  </div>
</header>
