<section class="mission-section">
    <div class="mission-content">
        <div class="mission-text">
            <div class="prim-header">
                <h5>MISSION & VISION</h5>
            </div>
            <div class="sec-header">
                <h1>
                    we handle complexities, 
                    so you can drive growth and success.
                </h1>
            </div>
            <div class="goals">
                <a class="goals" href="">About Us</a>
                <a class="goals" href="">Our Mission</a>
                <a class="goals" href="">Our Vision</a>
            </div>
            <div class="about-us-content">
                <p class="about-para">
                    At veroeos accusamus dignissimos ducimus 
                    blanditiis volupta delenite atque corrupti 
                    quos dolores et quas molestias excepturi sint 
                    occaecatie
                </p>
                <div class="about-prim-header">
                    <h4>
                        <i class="fa-solid fa-check"></i>
                        Optimized Sprint Planning 
                    </h4>
                    <h4>
                        <i class="fa-solid fa-check"></i>
                        Incremental Delivery Approach 
                    </h4>
                </div>

                <div class="about-prim-header">
                    <h4>
                        <i class="fa-solid fa-check"></i>
                        Continuous Improvement 
                    </h4>
                    <h4>
                        <i class="fa-solid fa-check"></i>
                        Delivering Innovative 
                    </h4>
                </div>

                <div>
                    <button class="mission-btn">
                        Discover More
                    </button>
                </div>
            </div>
        </div>

        <div class="mission-image">
            <img src="./assets/img/vission-image.jpg" alt="">
            <div class="empty-div">
                <div class="rating-box">
                    <div class="rating-1">
                        <canvas class="rounded">
                            <i class="fa-solid fa-user"></i>
                        </canvas>
                        <div class="rating-content">
                            <div class="rating-no">
                                95%
                            </div>
                            <div class="rating-text">
                                Project Done
                            </div>
                        </div>
                    </div>


                    <div class="rating">
                        <canvas class="rounded">
                        
                        </canvas>
                        <div class="rating-content">
                            <div class="rating-no">
                                50%
                            </div>
                            <div class="rating-text">
                                complete Project
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>