<section class="service-area-section">
  <div class="service-area-container">
    <div class="service-area-content">
      <span class="sub-title">Service Area</span>
      <div class="service-content">
        <h2 class="heading">
          Empowering Your Brand <br />
          Innovative Solutions
        </h2>
        <img
          src="../assets/img/service-arry.png"
          class="service-arrow"
          alt="Decorative arrow"
        />
        <a href="#" class="service-area-btn">All Services</a>
        <div class="circular-img">
          <img src="../assets/img/service-line.png" alt="circular image" />
        </div>
      </div>
    </div>
    <div class="service-area-card-container">
      <div class="service-area-cards">
        <div class="service-card-content">
          <div class="icon">
            <i class="fa-solid fa-bullhorn"></i>
          </div>
          <div class="shape">
            <img src="../assets/img/service-item-shape.png" alt="" />
          </div>
          <div class="content">
            <span class="number">01</span>
            <h4 class="title">Market Research</h4>
            <p class="text">Sed ut perspiciatis unde is voluptatem accusant</p>
          </div>
        </div>
        <div class="service-area-cards-img">
          <img
            src="../assets/img/service-image1.jpg"
            alt="Market research service"
          />
        </div>
      </div>
      <div class="service-area-cards">
        <div class="service-card-content">
          <div class="icon">
            <i class="fa-solid fa-chart-line"></i>
          </div>
          <div class="shape">
            <img src="../assets/img/service-item-shape.png" alt="" />
          </div>
          <div class="content">
            <span class="number">02</span>
            <h4 class="title">Brand Consultation</h4>
            <p class="text">Sed ut perspiciatis unde is voluptatem accusant</p>
          </div>
        </div>
        <div class="service-area-cards-img">
          <img
            src="../assets/img/service-image3.jpg"
            alt="Brand consultation service"
          />
        </div>
      </div>
    </div>
  </div>
</section>
